:root {
  --color-background: #f9f9f9;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #43474f;
  --color-primary: #001e40;
  --color-on-primary: #ffffff;
  --color-surface: #f9f9f9;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container: #eeeeee;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-dim: #dadada;
  --color-secondary: #525f75;
  --color-secondary-container: #d6e3fe;
  --color-on-secondary-container: #58657c;
  --color-on-tertiary-container: #ea8000;
  --color-tertiary-fixed-dim: #ffb77d;
  --color-primary-fixed-dim: #a7c8ff;
  --radius: 0.125rem;
  --radius-card: 0.25rem;
  --max-2xl: 1536px;
  --max-xl: 1280px;
}
